@tailwind base;
@tailwind components;
@tailwind utilities;
@import './vars.scss';

* {
  color: rgb(239, 238, 238);
}

body {
  background-color: $color-bg;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateY(-60px);
}