
{% extends 'layout.twig' %}

{% block title %}Error{% endblock %}
{% block content %}
  {% block header %}{% endblock %}
  <div class="block-err">
    <h3 class="err-txt">404 not found</h3>
  </div>
{% endblock %}