{% extends 'layout.twig' %}
{% block title %}Profile{% endblock %}

{% block content %}
  <div class="profile">
    <img src="img/profile.png" width="128px" alt="Photo" class="profile-img">
    <h3 class="profile-name">{{ name }}</h3>
  </div>
{% endblock %}