a {
  text-decoration: none;
  text-transform: uppercase;
}

.underLine-Heading {
  margin-left: 8px;
  margin-bottom: 69px;
  width: 132px;
  height: 3px;
  background-color: #ff2d2d;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1579px;
  margin: 0 auto;
  padding: 0;
}

header {
  margin: 0;
  min-height: 688px;
  background-color: #f6f2f2;
  padding: 29px 164px 111px 164px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .menu-nav {
  width: 1249px;
  height: 89px;
  opacity: 0.8;
  background-color: #000000;
}

header .menu-nav .menu {
  font-size: 0;
  margin: 0;
  padding: 0;
  text-align: center;
}

header .menu-nav .menu-list {
  list-style-type: none;
  display: inline-block;
}

header .menu-nav .menu-list .menu-link {
  padding: 33px 25px 44px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 89px;
  letter-spacing: 0.49px;
  text-align: left;
  color: #e0e0e0;
  text-decoration: none;
}

header .menu-nav .list-active {
  -webkit-box-shadow: -0.3px -2px 35px 0 rgba(0, 1, 1, 0.3);
          box-shadow: -0.3px -2px 35px 0 rgba(0, 1, 1, 0.3);
  background-color: #FF2D2A;
}

header .menu-nav .menu-list:hover {
  -webkit-box-shadow: -0.3px -2px 35px 0 rgba(0, 1, 1, 0.3);
          box-shadow: -0.3px -2px 35px 0 rgba(0, 1, 1, 0.3);
  background-color: #FF2D2A;
}

header .section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .section-header .section-text {
  width: 588px;
}

header .section-header .section-text .section-text-h1 {
  margin: 108px 0 36px 0;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 6px;
  color: #000000;
}

header .section-header .section-text .section-text-p {
  margin: 0;
  margin-bottom: 78px;
  width: 512px;
  font-size: 16.5px;
  line-height: 28px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
}

header .section-header .section-text .section-text-button {
  margin-top: 78px;
  text-decoration: none;
  font-size: 18.5px;
  line-height: 34px;
  font-weight: 700;
  letter-spacing: 0.46px;
  color: #ffffff;
  background-color: #ff2d2d;
  border-radius: 5.0px;
  padding: 20px 63px;
  -webkit-box-shadow: -2.2px -13.8px 73px 0 rgba(0, 0, 0, 0.35);
          box-shadow: -2.2px -13.8px 73px 0 rgba(0, 0, 0, 0.35);
}

header .section-header .section-text .section-text-button:hover {
  color: #afadad;
  background-color: #ac1010;
}

header .section-header .section-text .section-text-button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

header .section-header .section-video {
  margin-top: 103px;
  padding: 144px 240px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: -2.2px -13.8px 73px 0 rgba(0, 0, 0, 0.29);
          box-shadow: -2.2px -13.8px 73px 0 rgba(0, 0, 0, 0.29);
  background-color: #e2dec1;
  width: 550px;
  height: 356px;
}

header .section-header .section-video .player {
  cursor: pointer;
  padding: 15px;
  border: 8px solid #fff;
  border-radius: 50%;
  color: #fff;
  font-size: 30px;
  opacity: 1;
}

.aboutUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 114px 156px 107px 164px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.aboutUs .WhatWeCan {
  width: 510px;
  margin: 0;
}

.aboutUs .WhatWeCan .WhatWeCan-h1 {
  margin: 0;
  opacity: 0.93;
  font-size: 42px;
  letter-spacing: 0.42px;
  line-height: 55px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8);
}

.aboutUs .WhatWeCan .WhatWeCan-p {
  margin: 50px 0 70px 0;
  font-size: 17px;
  line-height: 25px;
  font-weight: 400;
  color: #000000;
}

.aboutUs .WhatWeCan .WhatWeCan-Link {
  text-decoration: none;
  font-size: 19px;
  line-height: 34px;
  font-weight: 700;
  letter-spacing: 0.46px;
  color: #ff2d2d;
  border-radius: 5px;
  border: solid 2px #ff0000;
  padding: 15px 55px;
}

.aboutUs .FourItems {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 296px 296px;
      grid-template-columns: 296px 296px;
  -ms-grid-rows: ()[428px];
      grid-template-rows: repeat(428px);
  grid-column-gap: 44px;
}

.aboutUs .FourItems .Margin {
  margin-top: 44px;
}

.aboutUs .FourItems .Intem-h4 {
  margin: 23px 0 17px 0;
  opacity: 0.9;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.24px;
  color: rgba(0, 0, 0, 0.7);
}

.aboutUs .FourItems .Item-p {
  margin: 0;
  opacity: 0.87;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
}

.UnderLine {
  margin: 0 auto;
  width: 1249px;
  height: 2px;
  background-color: #ececec;
}

.galary {
  margin: 0 auto;
  padding: 106px 164px 138px;
}

.galary .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  text-align: center;
}

.galary .heading .heading-h1 {
  margin: 0;
  opacity: 0.95;
  font-size: 42px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.42px;
  color: rgba(0, 0, 0, 0.8);
}

.galary .heading .heading-p {
  margin: 21px 0 16px;
  opacity: 0.95;
  font-size: 16.5px;
  line-height: 28px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
}

.galary .heading .underLine-Heading {
  width: 132px;
  height: 3px;
  background-color: #ff2d2d;
}

.galary .heading-menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 78px 0 60px;
}

.galary .heading-menu .menu .menu-list {
  list-style-type: none;
  margin-right: 58px;
}

.galary .heading-menu .menu .menu-list .menu-link {
  opacity: 0.95;
  font-size: 22px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.22px;
  color: rgba(0, 0, 0, 0.7);
}

.galary .heading-menu .menu .menu-list .link-Active, .galary .heading-menu .menu .menu-list .menu-link:hover {
  color: #ff2d2d;
}

.galary .galary-Img {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 297px 297px 297px 297px;
      grid-template-columns: 297px 297px 297px 297px;
  -ms-grid-rows: 290px 290px;
      grid-template-rows: 290px 290px;
  grid-gap: 19px;
}

.galary .galary-Img .galary-Img-Link {
  background-color: #e2dec1;
}

.OurTeam {
  margin: 0;
  padding: 0  172px 110px 155px;
}

.OurTeam .OurTeam-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.OurTeam .OurTeam-heading .OurTeam-h1 {
  margin: 0;
  opacity: 0.95;
  font-size: 42px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.42px;
  color: rgba(0, 0, 0, 0.8);
}

.OurTeam .OurTeam-heading .OurTeam-p {
  margin: 21px 0 16px 8px;
  opacity: 0.95;
  font-size: 16.5px;
  line-height: 28px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
}

.OurTeam .OurTeam-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.OurTeam .OurTeam-main .BigImg {
  background-color: #e2dec1;
  width: 321px;
  height: 458px;
  margin-right: 73px;
}

.OurTeam .OurTeam-main .team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.OurTeam .OurTeam-main .team .team-Text .team-h1 {
  margin: 0;
  opacity: 0.95;
  font-size: 31px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.31px;
  color: rgba(0, 0, 0, 0.8);
}

.OurTeam .OurTeam-main .team .team-Text .team-p {
  opacity: 0.95;
  font-size: 17px;
  line-height: 28px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
  margin: 35px 0 44px;
}

.OurTeam .OurTeam-main .team .team-Text .team-socMed-Link {
  margin-right: 26px;
  text-transform: none;
  font-style: italic;
  line-height: 1.33;
  opacity: 0.95;
  font-weight: 400;
  letter-spacing: 0.9px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
}

.OurTeam .OurTeam-main .team .team-Text .team-socMed-Link:hover {
  color: #0000CD;
}

.OurTeam .OurTeam-main .team .team-Img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.OurTeam .OurTeam-main .team .team-Img .team-Img-Link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: #e2dec1;
  width: 196.8px;
  height: 214px;
  margin-right: 19px;
  margin-top: 54px;
}

.OurTeam .OurTeam-main .team .team-Img .content-link {
  display: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 197px;
  height: 37px;
  font-size: 18.5px;
  font-weight: 600;
  letter-spacing: 0.19px;
  opacity: 0.5;
  background-color: #000000;
  color: #ffffff;
  display: none;
}

.OurTeam .OurTeam-main .team .team-Img .content-link-active {
  display: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18.5px;
  font-weight: 600;
  letter-spacing: 0.19px;
  width: 197px;
  height: 37px;
  opacity: 0.5;
  background-color: #000000;
  color: #ffffff;
}

.OurTeam .OurTeam-main .team .team-Img .team-Img-Link:hover > .content-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: "";
}

.subscribe {
  text-align: center;
  margin: 0;
  padding: 140px 239px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 512px;
  background-color: #c2afaf;
}

.subscribe .subscribe-h1 {
  margin: 0;
  opacity: 0.95;
  font-size: 42px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 1.05px;
  color: rgba(255, 255, 255, 0.8);
}

.subscribe .subscribe-p {
  margin: 31px 0 60px;
  opacity: 0.87;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
}

.subscribe .input-email {
  margin-right: 22px;
  border: none;
  outline: none;
  padding: 0 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 421px;
  height: 59px;
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.4px;
  color: rgba(44, 44, 44, 0.7);
}

.subscribe .input-sub {
  cursor: pointer;
  border: none;
  width: 170px;
  height: 59px;
  border-radius: 5px;
  background-color: #ff2d2d;
  font-size: 15px;
  line-height: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.46px;
  color: #ffffff;
}

.contact-Us {
  margin: 0;
  padding: 106px 0 110px 160px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact-Us .contact-Us-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-Us .contact-Us-text .contact-Us-h1 {
  margin: 0;
  margin-left: 5px;
  opacity: 0.95;
  font-size: 42px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.42px;
  color: rgba(0, 0, 0, 0.8);
}

.contact-Us .contact-Us-text .contact-Us-p {
  margin: 21px 0 49px 8px;
  opacity: 0.95;
  font-size: 16.5px;
  line-height: 28px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
}

.contact-Us .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-Us .contact .contact-Us-form {
  width: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-Us .contact .contact-Us-form .ContactInput {
  border: none;
  outline: none;
  padding-left: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 45px;
  width: 330px;
  height: 55px;
  opacity: 0.7;
  border-radius: 10px;
  background-color: #e5e5e5;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.46px;
  color: #000;
}

.contact-Us .contact .contact-Us-form .TextArea {
  padding-top: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 720px;
  height: 249px;
  resize: none;
}

.contact-Us .contact .contact-Us-form .input-margin {
  margin-right: 53px;
}

.contact-Us .contact .contact-Us-form .contact-sub {
  cursor: pointer;
  border: none;
  outline: none;
  width: 720px;
  height: 72px;
  border-radius: 5px;
  background-color: #ff3b3b;
  font-size: 19px;
  line-height: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.46px;
  text-align: center;
  color: #ffffff;
}

.contact-Us .contact .OurContact {
  padding: 145px 213px 146px 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 577px;
  height: 481px;
  background-color: #2d2d2d;
}

.contact-Us .contact .OurContact .OurContact-h3 {
  opacity: 0.9;
  font-size: 18.5px;
  line-height: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.46px;
  color: rgba(255, 255, 255, 0.8);
}

.contact-Us .contact .OurContact .OurContact-p {
  opacity: 0.9;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 47px 167px 31px 169px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1583px;
  height: 111px;
  background-color: #313030;
}

footer .footer-text {
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #b8b8b8;
}

footer .footer-icons .icon-link {
  margin-right: 15px;
  text-align: center;
  width: 33px;
  height: 33px;
  background-color: #fff;
  border-radius: 50%;
  padding: 6px 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #313030;
}

footer .footer-icons .icon-link .style-icon {
  padding-top: 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 20px;
  width: 33px;
  height: 33px;
}
/*# sourceMappingURL=style.css.map */