.container{
    width: 900px;
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(3, 1fr);
    grid-gap: 10px;
    margin-bottom: 100px;


}

a{
    font-family: 'Roboto', 'sans-serif';
    font-size: 20px;
    color: #120fc7;
    text-decoration: none;
}